@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

.menu{
    width: 65px;
    height: 65px;
    background-color: #E7D8C9;
    border-radius: 50%;
    border: 2px solid #453646;
    position: fixed;
    bottom: 50px;
    right: 25px;
    cursor: pointer;
    box-shadow: 0 0 0 0px #E7D8C9;
    transition: box-shadow 1.1s cubic-bezier(.19,1,.22,1);
    z-index: 0;
}

#tampar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 1000px;
    visibility: hidden;
}

/* Este 'hover' será utilizado quando o mouse for utilizado:
.menu:hover{
    box-shadow: 0 0 0 8px white, 0 0 0 8px white, 0 0 5px 9px #585563;;
    transition: box-shadow .5s ease-in-out;
}*/

.hamburguer{
    position: relative;
    display: block;
    background-color: #453646;
    width: 38px;
    height: 2px;
    top: 30px;
    left: 12px;
    transition: all .8s ease;
}

.hamburguer::before,
.hamburguer::after{
    background-color: #453646;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .3s ease;
}

.hamburguer::before{
    top: -10px;
}

.hamburguer::after{
    bottom: -10px;
}

input#menu{
    display: none;
}

input#menu:checked ~ label ul{
    visibility: visible;
    opacity: 1;
    transition: .5s .15s cubic-bezier(0, 1.07, 0 , 1.02);
}

input#menu:checked ~ label #tampar{
    visibility: visible;
    transition: .1s;
}

input#menu:checked ~ label .menu{
    box-shadow: 0 0 0 130vh #E7D8C9, 0 0 5px 100vh #585563;
}

input#menu:checked ~ label .hamburguer{
    transform: rotate(45deg);
}

input#menu:checked ~ label .hamburguer::before{
    transform: rotate(90deg);
    top: 0;
}

input#menu:checked ~ label .hamburguer::after{
    transform: rotate(90deg);
    bottom: 0;
}

input#menu:checked ~ label #btn-secundarios{
    visibility: visible;
    transition: 3s .2s cubic-bezier(0, 1.07, 0, 1.02);
}

#divisoria{
    margin: 25px auto;
    width: 160px;
    border: 1px dotted #453646;
    font-size: 20px;
    text-decoration: none;
    white-space: nowrap;
}

.teste-btn{
    display: inline-block;
}

#btn-secundarios{
    width: fit-content;
    position: fixed;
    bottom: 50px;
    right: 100px;
    border: 0px solid red;
    visibility: hidden;
    transition: .1s cubic-bezier(0, 1.07, 0 , 1.02);
}

.btn-secundario{
    width: 60px;
    height: 60px;
    margin: auto 5px;
    background-color: #453646;
    border-radius: 100%;
    border: 2px solid #E7D8C9;
    bottom: 0px;
    left: 25px;
    cursor: pointer;
    box-shadow: 0px 0px 7px 2px #45364685;
}

.desc_btnsecundario{
    display: inline-block;
    position: absolute;
    margin: 16px 0 0 25px;
    width: fit-content;
    font-weight: bold;
    font-family: "Amatic SC";
    font-size: 15pt;
    color: #E7D8C9;
    border: 0px solid red;
}

ul{
    position: fixed;
    display: inline-block;
    opacity: 0;
    transition: 2s .1s cubic-bezier(0, 1.07, 0 , 1.02);
    visibility: hidden;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    opacity: 0;
    text-align: center;
    line-height: 50px;
    padding: 0 25px;
    border: 0px solid red;
}

#btn_on_off, #btn_config{
    display: inline-block;
    width: fit-content;
    margin-right: 15px;
}

#btn_superior{
    width: fit-content;
    height: fit-content;
    border: 0px solid red;
    margin: auto;
}

#btn_inferior{
    width: fit-content;
    height: fit-content;
    border: 0px solid red;
    margin: 20px auto auto auto;
}

.btn-primario{
    font-weight: bold;
    font-family: "Amatic SC";
    background-color: #453646;
    border: 2px solid #E7D8C9;
    width: 120px;
    height: 140px;
    border-radius: 15px;
    transition: all .2s ease;
    box-shadow: 0px 0px 7px 2px #45364685;
}

.desc_btnprimario{
    width: 120px;
    margin-top: -50px;
    position: absolute;
    height: fit-content;
    font-weight: bold;
    font-family: "Amatic SC";
    font-size: 15pt;
    color: #E7D8C9;
    border: 0px solid #453646;
}

#btn_agendamento, #btn_reset{
    display: inline-block;
    margin-left: 0px;
}

ul li:hover{
    background-color: #453646;
    border-color: #e7d8c9;
}

ul li a{
    width: 120px;
    height: 140px;
    margin: auto;
    color: #453646;
    font-size: 20px;
    text-decoration: none;
    white-space: nowrap;
}

a:hover{
    color: #E7D8C9;
}

div#container-menu{
    width: 290px;
    height: 168px;
    margin: 40px auto auto auto;
}

#current-city {
    width: 120px;
    height: 0px;
    margin: auto;
    padding-bottom: 42px;
    border-bottom: 2px dashed #453646;
    text-align: center;
    background-image: linear-gradient(
        90deg,
        currentColor -12%,
        transparent 23%,
        transparent 77%,
        currentColor 112%
    );
    background-clip: text;
    -webkit-background-clip: text;
    background-attachment: fixed;
    white-space: nowrap;
}

#current-city-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
}

img#location-icon {
    width: 110%;
    margin-bottom: -3px;
    padding: 0;
}

#current-city-name {
    display: inline-block;
    font: bold 14pt "Amatic SC";
}

div#cont-menuimg{
    display: block;
    float: left;
    width: 121px;
    height: 121px;
    border: 2px solid #453646;
    margin-top: 22px;
    background-color: #715f74;
    border-radius: 100%;
}

div#cont-menuimg img{
    border-radius: 100%;
    margin: 4px 0 0 4px;
    width: 115px;
    height: 115px;
}

div#cont-menudivisao{
    display: inline-block;
    margin: 0 10px;
    margin-top: 0px;
    width: 3px;
    height: 166px;
    border: 1px solid #453646;
    background-color: #453646;
}

div#cont-menuweather{
    float: right;
    height: fit-content;
}

div#cont-menuweatherimg{
    display: block;
    float: left;
    width: fit-content;
    height: 77px;
}

div#cont-menuweatherimg img{
    width: 70px;
}

div#cont-menuweathertemp{
    display: inline-block;
    height: 77px;
    width: 54.25px;
    font: bold 14pt "Amatic SC";
}

div#cont-menuweathertemp_atual{
    float: right;
    font: bold 30pt "Amatic SC";
}

div#cont-menuweatherdesc{
    margin-top: -10px;
    padding: 4px 0;
    font: bold 15pt "Amatic SC";
    text-align: center;
    border-top: 2px dashed #453646;
    height: 40px;
}