body{
    position: relative;
    background-color: #363636;
    background-position: 100%;
    background-size: 100%;
    font-family: Helvetica, arial, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*  
    ###############################################
    #CABEÇALHO - Título da "Cafeteira Inteligente"#
    ###############################################
*/
#cabecalho{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 10px;
    width: 10000px;
}

#cabecalho h1{
    color: #f1f1f1;
    text-align: center;
    font-size: 2em;
}

#cabecalho p{
    color: #f1f1f1;
    text-align: center;
    font-size: 15px;
    margin: -27px auto 5px auto;
    padding: 10px;
}

/*  
    #############################
    #MENU - Botões de Navegação"#
    #############################
*/

#menu{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -5px;
    margin-bottom: 15px;
    width: 10000px;
    
}

#menu div{
    margin-top: 0px;

}

#menu a, span{
    margin: 10px;
}

/*
    CORPO
*/

#corpo{
    margin-left: auto;
    margin-right: auto;
}

#corpo div{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #f1f1f1;
    padding: 40px;
    margin: -70px auto 0 auto;
    border-radius: 18px;    
}

#corpo h1{
    margin-top: -18px;
    font-size: 200%;
    flex-wrap: wrap;
}

#corpo p{
    margin: -5px auto;
    flex-wrap: wrap;
}

#corpo p .status{
    margin-top: -50px;
}

#corpo img{
    height: 112px;
    width: 215px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 auto 0 auto;
}

#corpo liga-desliga{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 100px;
}

/*
    Rodapé
*/

#rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 25px auto 0 auto;
    color: white;
    font-weight: bold;
    width: 100%;
    font-size: 15px;
}

/*
    Relógio
*/

.legenda{
    position: relative; 
    color: white; 
    top: 60px;
}

#data p{
    color: #b5b5b5;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: 10px auto -15px auto;
}

#botoes{
    display:flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
    margin: 10px auto 10px auto;
    padding: 50px;
}

.btn{
    font-family: arial;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.btn-gray{
    background: #363636;
    color: #FFF;
    box-shadow: 0 4px 0 #1c1c1c;
}

.btn-gray:hover{
    background: #1c1c1c;
    color: #FFF;
    box-shadow: 0 4px 0 #000;
}

.btn-gray:active{
    position: relative;
    top: 4px;
    box-shadow: none;
}

.btn-grayC{
    background: #696969;
    color: #FFF;
    box-shadow: 0 4px 0 #4f4f4f;
}

.btn-grayC:hover{
    background: #4f4f4f;
    color: #FFF;
    box-shadow: 0 4px 0 #424242;
}

.btn-grayC:active{
    position: relative;
    top: 4px;
    box-shadow: none;
}

.Selec{
    position: relative;
    color: white;
    background: #4f4f4f;
    font-size: 14px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    top: 4px;
    /*display: flex;*/
    margin-top: -5px;
    margin-bottom: 15px;
}

.mobile{
    top: 22px;
}

.liga-desliga__checkbox{
    position: absolute;
    left: -9999px;
    bottom: 250px;
}

.liga-desliga__botao{
    text-align: center;
    display: inline block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    top: 25px;
}

.liga-desliga__botao::before,
.liga-desliga__botao::after{
    content: "";
    transition: all 0.3s ease;
}

.liga-desliga__botao::before{
    display: inline-block;
    width: 150px;
    height: 75px;
    background: #4f4f4f;
    border-radius: 3em;
}

.liga-desliga__botao::after{
    position: absolute;
    top: 0.31em;
    left: 0.475em;
    width: 4em;
    height: 4em;
    background: white;
    border-radius: 100%;
}

.liga-desliga__checkbox:checked + .liga-desliga__botao::before{
    background: #900;
}

.liga-desliga__checkbox:checked + .liga-desliga__botao::after{
    left: 4.85em;
}

/**********************************************************************************************************************************/



.liga-lamp__checkbox{
    position: absolute;
    left: -9999px;
    bottom: 250px;
}

.liga-lamp__botao{
    text-align: center;
    display: inline block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    top: 25px;
}

.liga-lamp__botao::before,
.liga-lamp__botao::after{
    content: "";
    transition: all 0.3s ease;
}

.liga-lamp__botao::before{
    display: inline-block;
    width: 150px;
    height: 75px;
    background: #4f4f4f;
    border-radius: 3em;
}

.liga-lamp__botao::after{
    position: absolute;
    top: 0.31em;
    left: 0.475em;
    width: 4em;
    height: 4em;
    background: white;
    border-radius: 100%;
}

.liga-lamp__checkbox:checked + .liga-lamp__botao::before{
    background: #900;
}

.liga-lamp__checkbox:checked + .liga-lamp__botao::after{
    left: 4.85em;
}


/**********************************************************************************************************************************/



.status{
    color: #4f4f4f;
    font-weight: bold;
    text-transform: uppercase;
}

#minutosOpcao{
    width: 40px;
}